* {
    margin: 0;
    padding: 0;
}

.game {
    position: relative;
    height: 896px;
    width: 926px;
    margin: auto;
    margin-top: 5px;
}

body {
    /* background-color: rgb(247, 232, 216); */
    background: rgb(255,253,193);
    background: radial-gradient(circle, rgba(255,253,193,1) 38%, rgba(244,201,156,1) 70%);
}

.chessboard {
    position: absolute;
    top: 35px;
    left: 50px;
    width: 800px;
    height: 800px;
    border: 13px solid rgb(80, 33, 0);
    border-radius: 3%;
}

.description-top {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    position: absolute;
    left: 63px;
    width: 800px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.description-left {
    display: grid;
    grid-template-rows: repeat(8, 100px);
    position: absolute;
    top: 48px;
    width: 50px;
    height: 800px;
    text-align: center;
    line-height: 100px;
}

.description-right {
    display: grid;
    grid-template-rows: repeat(8, 100px);
    position: absolute;
    top: 48px;
    right: 0;
    width: 50px;
    height: 800px;
    text-align: center;
    line-height: 100px;
}

.description-bot {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    position: absolute;
    left: 63px;
    bottom: 0;
    width: 800px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.char {
    font-weight: bold;
}

.row {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    height: 100px;
}

.field {
    position: relative;
    width: 100px;
    height: 100px;
}

.white-field {
    background-color: white;
}

.black-field {
    background-color: rgb(100, 100, 100);
}

.figure {
    position: absolute;
    top: 12px;
    left: 16px;
    font-size: 65px;
    text-align: center;
}

.figure.dragging {
    opacity: .5;
}

.white-figure {
    color: rgb(223, 174, 111);
    cursor: move;
}